$col-slug: 'col';
$cols: 10;

.col-fix {
    clear: left;
}

.col {
    float: left;
    min-height: 1px;
    position: relative;
    
    &.padded {
        padding-left: 8px;
        padding-right: 8px;
    }
}

@for $i from 1 through $cols {
    .#{$col-slug}-#{$i} {
        @extend .col;
        width: (100% / $cols) * $i;
    }
}